# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. PyTorch

Data Science Tools | 
| ------ |
| RStudio | |
| Jupyter Notebook | |
| Visual Studio Code | |

### Below are a few examples of evaluating arithmetic expressions in Python

<!-- This a simple arithmetic expression to mutiply then add integers -->

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** 
- R
- Python
- Java

## Author:
Kendall C